.campus {
    margin: 28px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.gallery img {
    width: 23%;
    border-radius: 12px;
}